<#list children as cat> 
<tr>
    <td>${cat.cid?c}</td>
    <td style="padding-left:${(level+1)*20}px;font-weight: bold;">${cat.name}</td>
    <td>
	     ${cat.sort_order }
    </td> 
    <td><a href="virtual-cat!add.do?vid=${cat.cid?c}"><img src="images/transparent.gif" class="add"></a></td>
    <td><a href="virtual-cat!edit.do?vid=${cat.virtual_id?c}"><img src="images/transparent.gif" class="modify"></a></td>
    <td>
    <a href="javascript:;" ><img src="images/transparent.gif" class="delete" catid="${cat.virtual_id}"></a>
     
    </td> 
</tr>
	<#if cat.children?exists>
		<#assign level=level+1 />
	  	<#assign children=cat.children />
		<#include 'children.html' />
  		<#assign level=level-1/>
	</#if>
</#list>